# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
storybook-static

# IDEs and OS
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

.projectatlas/*
!.projectatlas/config.toml
